@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>If you're seing this, we must be a real, live website...</p>
    <p>but John doesn't know how to deploy this application...???</p>
</div>
